name: Build Typst document
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Install Typst
        uses: typst-community/setup-typst@v4
        with:
          typst-version: v0.14.0

      - name: Prepare fonts directory
        run: |
          mkdir -p fonts
          curl -OL https://github.com/adobe-fonts/source-han-sans/releases/download/2.005R/07_SourceHanSansJ.zip
          curl -OL https://github.com/adobe-fonts/source-han-sans/releases/download/2.005R/09_SourceHanSansSC.zip
          7z x 07_SourceHanSansJ.zip -ofonts OTF
          7z x 09_SourceHanSansSC.zip -ofonts OTF

      - name: Compile Typst document
        run: |
          typst c lyrics.typ --font-path fonts --no-pdf-tags

      - name: Prepare dir
        run: |
          curl -OL https://github.com/mozilla/pdf.js/releases/download/v5.4.449/pdfjs-5.4.449-dist.zip
          7z x pdfjs-5.4.449-dist.zip -owww
          mv lyrics.pdf www/web

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: www

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build_typst

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action
